.user-container {
    .user-child {
        width: 400px;
        text-align: left;
        padding: 15px;
        border-top: 1px grey solid;
        border-bottom: 1px grey solid;

        &:first-child{
            margin-top: 20px;
        }
    }
}